.warning {
	background-color: orange;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;

  }
  
 .warning:hover {
	background-color: #ddd;
	color: black;
	border-radius: 1px;
  }
  
  .danger {
	background-color: #763626;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;

  }
  
  .danger:hover {
	background-color: #ddd;
	color: black;
	border-radius: 1px;
  }

  .success {
	background-color: #336B87;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;

  }
  
  .success:hover {
	background-color: #ddd;
	color: black;
	border-radius: 1px;
  }